In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
from helpers import *

In [3]:
df = pd.read_excel(
    '../indata/excel_20190311/SDG-GIS results 190308.xlsx',
    'Data till verktyg'
)

In [4]:
df = df.dropna()

In [5]:
df = df.rename(columns={
    'År': 'year',
    'Baskod2000': 'BASKOD2000'
})

df = df.astype({
    'year': int,
    'BASKOD2000': int
})

In [6]:
df.shape

(1269, 63)

In [7]:
df = baskod2000tobasomrade(df)#.drop(columns=['BASKOD2000'])

Notis: `ddf--entitites--basomrade.csv` innehåller 1086 basområden. Här tappar vi två av dem. Ett av dem är för att sista raden i SDG-GIS excelen saknas baskod. Vilket är det andra, och varför?

In [8]:
df.shape

(1083, 63)

 

%accessgreenC_under300

 

%accesstoSL_under300

In [9]:
df.head()

,year,Baskod+År,%accessgreenT_under50,%accessgreenT_under100,%accessgreenT_under150,%accessgreenT_under200,%accessgreenT_under250,%accessgreenT_under300,%accessgreenT_under350,%accessgreenT_under400,...,%accesstoSL_under100,%accesstoSL_under150,%accesstoSL_under200,%accesstoSL_under250,%accesstoSL_under300,%accesstoSL_under350,%accesstoSL_under400,%accesstoSL_under500,basomrade,%accesstoSL_under450
0,2015,1010120 2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,40.241449,64.185111,96.177062,100.000000,100.0,100.0,100.0,100.0,1010120_skeppsbron,100.0
1,2015,1010130 2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,48.965517,86.637931,100.000000,100.000000,100.0,100.0,100.0,100.0,1010130_munkbron,100.0
2,2015,1010140 2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.575910,19.196989,58.281054,99.498118,100.0,100.0,100.0,100.0,1010140_stortorget,100.0
3,2015,1010201 2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,100.000000,100.000000,100.000000,100.000000,100.0,100.0,100.0,100.0,1010201_centralstationen_n,100.0
4,2015,1010220 2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,55.147059,100.000000,100.000000,100.000000,100.0,100.0,100.0,100.0,1010220_klara_kyrka,100.0

# Grönområden

In [10]:
concept = 'access_green_c_lt_300'

In [11]:
green = df.copy()[['basomrade', 'year', '%accessgreenC_under300']]

In [12]:
green = green.rename(columns={"%accessgreenC_under300": 'value'})

In [13]:
out = appendNewDatapoints(concept, green, new=True)

# SL

In [14]:
concept = 'access_sl_lt_300'

In [15]:
sl = df.copy()[['basomrade', 'year', '%accesstoSL_under300']]

In [16]:
sl = sl.rename(columns={"%accesstoSL_under300": 'value'})

In [17]:
out = appendNewDatapoints(concept, sl, new=True)