In [ ]:
import pandas as pd
import numpy as np
import os
import glob

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (15, 5)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [1]:
from helpers import *

In [284]:
df

,basomrade,year,kategori,Kön,value
0,1010120_skeppsbron,2011,Ej Förvärvsarbetande,female,34
1,1010120_skeppsbron,2011,Ej Förvärvsarbetande,male,46
2,1010120_skeppsbron,2011,Förvärvsarbetande ej län 01,female,5
3,1010120_skeppsbron,2011,Förvärvsarbetande ej län 01,male,0
4,1010120_skeppsbron,2011,Förvärvsarbetande län 01,female,112
5,1010120_skeppsbron,2011,Förvärvsarbetande län 01,male,112
6,1010120_skeppsbron,2012,Ej Förvärvsarbetande,female,39
7,1010120_skeppsbron,2012,Ej Förvärvsarbetande,male,43
8,1010120_skeppsbron,2012,Förvärvsarbetande ej län 01,female,0
9,1010120_skeppsbron,2012,Förvärvsarbetande ej län 01,male,0
10,1010120_skeppsbron,2012,Förvärvsarbetande län 01,female,111
11,1010120_skeppsbron,2012,Förvärvsarbetande län 01,male,114
12,1010120_skeppsbron,2013,Ej Förvärvsarbetande,female,33
13,1010120_skeppsbron,2013,Ej Förvärvsarbetande,male,48
14,1010120_skeppsbron,2013,Förvärvsarbetande ej län 01,female,0
15,1010120_skeppsbron,2013,Förvärvsarbetande ej län 01,male,8
16,1010120_skeppsbron,2013,Förvärvsarbetande län 01,female,117
17,1010120_skeppsbron,2013,Förvärvsarbetande län 01,male,106
18,1010120_skeppsbron,2014,Ej Förvärvsarbetande,female,46
19,1010120_skeppsbron,2014,Ej Förvärvsarbetande,male,51
20,1010120_skeppsbron,2014,Förvärvsarbetande ej län 01,female,5
21,1010120_skeppsbron,2014,Förvärvsarbetande ej län 01,male,0
22,1010120_skeppsbron,2014,Förvärvsarbetande län 01,female,116
23,1010120_skeppsbron,2014,Förvärvsarbetande län 01,male,115
24,1010120_skeppsbron,2015,Ej Förvärvsarbetande,female,33
25,1010120_skeppsbron,2015,Ej Förvärvsarbetande,male,40
26,1010120_skeppsbron,2015,Förvärvsarbetande ej län 01,female,0
27,1010120_skeppsbron,2015,Förvärvsarbetande ej län 01,male,8
28,1010120_skeppsbron,2015,Förvärvsarbetande län 01,female,118
29,1010120_skeppsbron,2015,Förvärvsarbetande län 01,male,113
...,...,...,...,...,...
32550,6420000_taxinge_forsamling,2011,Ej Förvärvsarbetande,female,43
32551,6420000_taxinge_forsamling,2011,Ej Förvärvsarbetande,male,34
32552,6420000_taxinge_forsamling,2011,Förvärvsarbetande ej län 01,female,8
32553,6420000_taxinge_forsamling,2011,Förvärvsarbetande ej län 01,male,13
32554,6420000_taxinge_forsamling,2011,Förvärvsarbetande län 01,female,258
32555,6420000_taxinge_forsamling,2011,Förvärvsarbetande län 01,male,276
32556,6420000_taxinge_forsamling,2012,Ej Förvärvsarbetande,female,39
32557,6420000_taxinge_forsamling,2012,Ej Förvärvsarbetande,male,34
32558,6420000_taxinge_forsamling,2012,Förvärvsarbetande ej län 01,female,13
32559,6420000_taxinge_forsamling,2012,Förvärvsarbetande ej län 01,male,19
32560,6420000_taxinge_forsamling,2012,Förvärvsarbetande län 01,female,255
32561,6420000_taxinge_forsamling,2012,Förvärvsarbetande län 01,male,268
32562,6420000_taxinge_forsamling,2013,Ej Förvärvsarbetande,female,40
32563,6420000_taxinge_forsamling,2013,Ej Förvärvsarbetande,male,33
32564,6420000_taxinge_forsamling,2013,Förvärvsarbetande ej län 01,female,10
32565,6420000_taxinge_forsamling,2013,Förvärvsarbetande ej län 01,male,14
32566,6420000_taxinge_forsamling,2013,Förvärvsarbetande län 01,female,260
32567,6420000_taxinge_forsamling,2013,Förvärvsarbetande län 01,male,278
32568,6420000_taxinge_forsamling,2014,Ej Förvärvsarbetande,female,41
32569,6420000_taxinge_forsamling,2014,Ej Förvärvsarbetande,male,38
32570,6420000_taxinge_forsamling,2014,Förvärvsarbetande ej län 01,female,9
32571,6420000_taxinge_forsamling,2014,Förvärvsarbetande ej län 01,male,13
32572,6420000_taxinge_forsamling,2014,Förvärvsarbetande län 01,female,260
32573,6420000_taxinge_forsamling,2014,Förvärvsarbetande län 01,male,278
32574,6420000_taxinge_forsamling,2015,Ej Förvärvsarbetande,female,40
32575,6420000_taxinge_forsamling,2015,Ej Förvärvsarbetande,male,41
32576,6420000_taxinge_forsamling,2015,Förvärvsarbetande ej län 01,female,7
32577,6420000_taxinge_forsamling,2015,Förvärvsarbetande ej län 01,male,17
32578,6420000_taxinge_forsamling,2015,Förvärvsarbetande län 01,female,264
32579,6420000_taxinge_forsamling,2015,Förvärvsarbetande län 01,male,286

# Data prep

Läs in fil

In [285]:
df = pd.read_csv('../indata/ODB_TSV/ODB-Sysselsättning efter område, tid, ålder, sysselsättning och kön.txt', sep='\t', header=1)

Specificera indexering

In [286]:
df = df.set_index(['område', 'tid'])

Vänd ner samtliga kolumner i en kolumn

In [287]:
df = pd.DataFrame(df.stack())

Lyft ut index till kolumner igen

In [288]:
df = df.reset_index()

Sätt beskrivande kolumnnamn

In [289]:
df = df.rename(columns={'level_2': 'age_group_gender', 0: 'value', 'tid':'year'})

Splitta områdesnamn till endast baskod

In [290]:
df['område'] = df['område'].str.split(' ', 1, expand = True)
df = df.rename(columns={'område': 'BASKOD2010'})
df['BASKOD2010'] = df['BASKOD2010'].astype(str).astype(int)

Byt om `BASKOD2010` till entity-namnet

In [291]:
df = baskod2010tobasomrade(df)

Splitta ut `ageyeargender` till fyra separata kolumner

In [292]:
df['Kön'] = df['age_group_gender'].str.split().str[-1]

In [293]:
df['agegroup'] = df['age_group_gender'].str.split().str[0]

In [294]:
df['kategori'] = df['age_group_gender'].str.split().str[2:-1].str.join(' ')

Specificera ordningen på kolumnerna

In [295]:
df = df[['basomrade','year','kategori', 'Kön', 'agegroup', 'value']]

Specificera indexering

In [296]:
df = df.set_index(['basomrade'])

    #

In [297]:
df = df.groupby(['basomrade', 'year', 'kategori', 'Kön']).sum().reset_index()

Sätt `Kön` till en pandas category

In [298]:
df['Kön'] = df['Kön'].astype('category')
df['Kön'].cat.categories = ['female', 'male']

# Antal förvärvsarbetande

In [299]:
concept = 'employed_aged_20_64'

In [300]:
nSys = df[df['kategori'].isin(['Förvärvsarbetande ej län 01', 'Förvärvsarbetande län 01'])]

In [301]:
nSys = nSys.groupby(['basomrade', 'year', 'Kön']).sum().reset_index()

In [218]:
byGender(concept, nSys)

Saved employed_aged_20_64_female to ../ddf--sodertornsmodellen-output/ddf--sodertornsmodellen--src/ddf--datapoints--employed_aged_20_64_female--by--basomrade--year.csv

Saved employed_aged_20_64_male to ../ddf--sodertornsmodellen-output/ddf--sodertornsmodellen--src/ddf--datapoints--employed_aged_20_64_male--by--basomrade--year.csv

In [303]:
nSys = nSys.groupby(['basomrade', 'year']).sum().reset_index()

In [220]:
appendNewDatapoints(concept, nSys)

Saved employed_aged_20_64 to ../ddf--sodertornsmodellen-output/ddf--sodertornsmodellen--src/ddf--datapoints--employed_aged_20_64--by--basomrade--year.csv

# Antal ej förvärvsarbetande

In [209]:
concept = 'unemployed_aged_20_64'

In [210]:
nNonSys = df[df['kategori'] == 'Ej Förvärvsarbetande']

In [211]:
nNonSys = nNonSys.groupby(['basomrade', 'year', 'Kön']).sum().reset_index()

In [212]:
byGender(concept, nNonSys)

Saved unemployed_aged_20_64_female to ../ddf--sodertornsmodellen-output/ddf--sodertornsmodellen--src/ddf--datapoints--unemployed_aged_20_64_female--by--basomrade--year.csv

Saved unemployed_aged_20_64_male to ../ddf--sodertornsmodellen-output/ddf--sodertornsmodellen--src/ddf--datapoints--unemployed_aged_20_64_male--by--basomrade--year.csv

In [213]:
nNonSys = nNonSys.groupby(['basomrade', 'year']).sum().reset_index()

In [214]:
appendNewDatapoints(concept, nNonSys)

Saved unemployed_aged_20_64 to ../ddf--sodertornsmodellen-output/ddf--sodertornsmodellen--src/ddf--datapoints--unemployed_aged_20_64--by--basomrade--year.csv

# Andel förvärvsarbetande

In [221]:
concept = 'employment_rate_20_64'förvärvsarbetande

### Andel per kön

In [271]:
total = df.groupby(['basomrade', 'year', 'Kön']).sum().add_prefix('total_').reset_index()
# total = pd.merge(bygender, df)

In [272]:
bygender = df[df['kategori'].isin(['Förvärvsarbetande ej län 01', 'Förvärvsarbetande län 01'])]
bygender = bygender.groupby(['basomrade', 'year', 'Kön']).sum().reset_index()

In [273]:
bygender = pd.merge(total, bygender)

In [274]:
bygender['rate'] = bygender['value'] / bygender['total_value']

In [275]:
bygender = bygender[['basomrade', 'year', 'Kön', 'rate']]
bygender = bygender.rename(columns={'rate': 'value'})

In [276]:
byGender(concept, bygender)

Saved employment_rate_20_64_female to ../ddf--sodertornsmodellen-output/ddf--sodertornsmodellen--src/ddf--datapoints--employment_rate_20_64_female--by--basomrade--year.csv

Saved employment_rate_20_64_male to ../ddf--sodertornsmodellen-output/ddf--sodertornsmodellen--src/ddf--datapoints--employment_rate_20_64_male--by--basomrade--year.csv

### Andel totalt

In [277]:
total = df.groupby(['basomrade', 'year']).sum().add_prefix('total_').reset_index()

In [278]:
rate = df[df['kategori'].isin(['Förvärvsarbetande ej län 01', 'Förvärvsarbetande län 01'])]
rate = rate.groupby(['basomrade', 'year']).sum().reset_index()

In [279]:
rate = pd.merge(total, rate)

In [280]:
rate['rate'] = rate['value'] / rate['total_value']

In [281]:
rate = rate[['basomrade', 'year', 'rate']]
rate = rate.rename(columns={'rate': 'value'})

In [282]:
appendNewDatapoints(concept, rate)

Saved employment_rate_20_64 to ../ddf--sodertornsmodellen-output/ddf--sodertornsmodellen--src/ddf--datapoints--employment_rate_20_64--by--basomrade--year.csv