# Uppdatering av data
*ddf--sodertornsmodellen*

Uppdatering av Geografiska Informationsbyrån, januari 2019

## Utgångsläge

https://open-numbers.github.io/sodertornsmodellen/ ska uppdateras med nya data.

De data som visas i verktyget idag (början av januari 2019) ligger i det här repot [ddf--sodertornsmodellen](https://github.com/open-numbers/ddf--sodertornsmodellen/)

## Struktur

### Testmiljö


### Indata

Det finns tre indatakällor.

1. De data som redan ligger i verktyget [ddf--sodertornsmodellen](https://github.com/open-numbers/ddf--sodertornsmodellen/). Dels datapoints `*datapoints*.csv` filerna

1. Excelfilen `MASTER_00-17.csv.xlsx`

1. `.csv` filterna i `Supermappen`

## Dependencies

In [1]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (15, 5)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
# ddf--sodertornsmodellen git repo
ddfRootPath = os.path.join(os.pardir, "ddf--sodertornsmodellen")
ddfSrcPath = os.path.join(ddfRootPath, "ddf--sodertornsmodellen--src")

# new input data
indataPath = os.path.join(os.pardir, "indata")

## Läs in MASTER excel filen

In [3]:
master = pd.read_excel(os.path.join(indataPath, 'MASTER_00-17.xlsx'))

In [4]:
# byt namn på kolumner för att matcha namnen i ddf-filerna
master = master.rename(columns={
    'område': 'name',
    'Basområde': 'BASKOD2010',
    'tid': 'year'
})

# formattera basområdesnamnen för att matcha ddf--entities-basomrade.csv
# master['name'] = master['name'].str.lower()
# master['name'] = master['name'].str.replace(' ', '_')
# master['name'] = master['name'].str.replace('å', 'a')
# master['name'] = master['name'].str.replace('ä', 'a')
# master['name'] = master['name'].str.replace('ö', 'o')
# master['name'] = master['name'].str.replace('é', 'e')
# # ta bort siffrorna eftersom de gäller baskod2010
# master['name'] = master['name'].str.replace('\d+_','', regex=True)

master['year'] = pd.to_datetime(master['year'].astype(str))
# master.dtypes
# master['year'].head(10)

In [5]:
# pd.Series(['3434_lkfkjdf', '3434_dfdff']).str.replace('\d+_', '', regex=True)

In [6]:
master.head(10)

,name,year,Oråde+tid,BASKOD2010,Unnamed: 4,Befolkning Män,Befolkning Kvinnor,Befolkning Total,Befolkning män18-64,Befolkning kvinnor 18-64,Befolkning totalt 18-64,Befolkning män 16-,Befolkning kvinnor 16-,Befolkning tot 16-,Lght_Hyresrätt,Lght_Bostadsrätt,Lght_Äganderätt,Lght_Uppgift saknas,Lght total,Lght_Andel_Hyresrätter,Lght_Andel_Bostadsrätter,Lght_Andel_Äganderätter,Lght_Andel_Uppgift Sanas,Fst_Lantbruksfastighet,Fst_Småhus inklusive Fritidshus,Fst_Hyreshus,Fst_Övriga,Fst_Totalt,Fst_Andel_Lantbruksfastighet,Fst_Andel_Småhus inklusive Fritidshus,Fst_Andel_Hyreshus,Fst_Andel_Övriga,Antal hushåll med barn,Antal hushåll utan barn,Hsh_Gifta/sambo med barn,Hsh_Gifta/sambo utan barn,Hsh_Ensamstående med barn,Hsh_Ensamstående utan barn,Hsh_Övriga,Hsh_Total,Hsh_Andel_Gifta/sambo med barn,Hsh_Andel_Gifta/sambo utan barn,Hsh_Andel_Ensamstående med barn,Hsh_Andel_Ensamstående utan barn,Hsh_Andel_Övriga,Ekbist 18-64 män,Ekbist 18-64 kvinnor,Ekbist 18-64 tot,Ekbist_Andel_18-64_män,Ekbist_Andel_18-64_kvinnor,Ekbist_Andel_18-64_tot,Dagbef män 16-,Dagbef kvinnor 16-,Dagbef tot 16-,Unnamed: 54,Unnamed: 55
0,1010202 Centralstationen S,2000-01-01,1010202 Centralstationen S2000,1010202,1.0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1053.0,435.0,1488.0,1010202,NaN
1,1010202 Centralstationen S,2001-01-01,1010202 Centralstationen S2001,1010202,1.0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1043.0,588.0,1631.0,1010202,NaN
2,1010202 Centralstationen S,2002-01-01,1010202 Centralstationen S2002,1010202,1.0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,890.0,481.0,1371.0,1010202,NaN
3,1010202 Centralstationen S,2003-01-01,1010202 Centralstationen S2003,1010202,1.0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,703.0,409.0,1112.0,1010202,NaN
4,1010202 Centralstationen S,2004-01-01,1010202 Centralstationen S2004,1010202,1.0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,913.0,465.0,1378.0,1010202,NaN
5,1010202 Centralstationen S,2005-01-01,1010202 Centralstationen S2005,1010202,1.0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,980.0,557.0,1537.0,1010202,NaN
6,1010202 Centralstationen S,2006-01-01,1010202 Centralstationen S2006,1010202,1.0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1172.0,678.0,1850.0,1010202,NaN
7,1010202 Centralstationen S,2007-01-01,1010202 Centralstationen S2007,1010202,1.0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1057.0,707.0,1764.0,1010202,NaN
8,1010202 Centralstationen S,2008-01-01,1010202 Centralstationen S2008,1010202,1.0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1085.0,739.0,1824.0,1010202,NaN
9,1010202 Centralstationen S,2009-01-01,1010202 Centralstationen S2009,1010202,1.0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1101.0,771.0,1872.0,1010202,NaN

---

## Lookups

### Baskod2010 => Baskod2000

In [7]:
baskodkey = pd.read_excel(os.path.join(ddfRootPath, 'etl', 'source', '161115 A7 utan formler.xlsx'), skiprows=[0,1,2,3,4,5,6], converters={2010: lambda x: str(x)})
baskodkey = baskodkey[[2010, 'BASKOD2000']]
baskodkey = baskodkey.rename(columns={2010: 'BASKOD2010'})
baskodkey['BASKOD2010'] = baskodkey['BASKOD2010'].astype(str).astype(int)

In [8]:
baskodkey.head(5)

   BASKOD2010  BASKOD2000
0     1010110     1010110
1     1010120     1010120
2     1010130     1010130
3     1010140     1010140
4     1010201     1010201

In [9]:
baskodkey[baskodkey['BASKOD2000'] == 2260230]

     BASKOD2010  BASKOD2000
397     2242230     2260230

In [10]:
# baskoddiff = baskodkey[baskodkey['BASKOD2000'] != baskodkey['BASKOD2010']]
# baskoddiff
print(baskodkey.shape[0])
print(baskodkey['BASKOD2010'].nunique())
print(baskodkey['BASKOD2000'].nunique())

1364
1364
1299

### Baskod2000 => Basomr entity name

In [11]:
entityKey = pd.read_csv(os.path.join(ddfSrcPath, 'ddf--entities--basomrade.csv'))
entityKey['basomrade'] = entityKey['basomrade'].astype(str)
entityKey['baskod2010'] = entityKey['baskod2010'].astype(str).astype(int)
entityKey = entityKey.rename(columns={'baskod2010':'BASKOD2010'})


# entityKey = entityKey.assign(BASKOD2000 = lambda x: x.basomrade.str.split('_').pop(0))
# entityKey

entityKey['BASKOD2000'] = entityKey['basomrade'].apply(lambda x: x.split('_')[0])
entityKey['BASKOD2000'] = entityKey['BASKOD2000'].astype(str).astype(int)

entityKey = entityKey[['basomrade', 'BASKOD2000', 'BASKOD2010']]

entityKey
# entityKey.dtypes
# entityKey.shape[0]

                                              basomrade  BASKOD2000  BASKOD2010
0                                   4111110_norra_runby     4111110     4111110
1                                   4111120_sodra_runby     4111120     4111120
2                                  4111130_runby_lovsta     4111130     4111130
3                              4111140_prastgardsmarken     4111140     4111140
4                                  4111900_eds_glesbygd     4111900     4111900
5                       4122100_lowenstromska_sjukhuset     4122100     4122100
6                                 4122210_norra_vilunda     4122210     4122210
7                                 4122230_apoteksskogen     4122230     4122230
8                                   4122240_vasbyskogen     4122240     4122240
9                                     4122310_korpkulla     4122310     4122310
10                                      4122340_vilunda     4122340     4122340
11                                 4122420_norra_smedby     4122420     4122420
12                                 4122430_sodra_smedby     4122430     4122430
13                                       4122520_skalby     4122520     4122520
14                                    4122530_carlslund     4122530     4122530
15                                      4122540_brunnby     4122540     4122540
16                            4122600_vastra_odenslunda     4122600     4122600
17                                        4133110_sanda     4133110     4133110
18                             4133120_ostra_odenslunda     4133120     4133120
19                                     4133200_frestaby     4133200     4133200
20                            4133310_vastra_bollstanas     4133310     4133310
21                             4133330_ostra_bollstanas     4133330     4133330
22                             4133350_sodra_bollstanas     4133350     4133350
23                        4133910_fresta_norra_glesbygd     4133910     4133910
24                        4133920_fresta_sodra_glesbygd     4133920     4133920
25                          4210110_centrala_vallentuna     4210110     4210110
26                      4210210_norra_vallentuna_tatort     4210210     4210210
27                       4210220_nv_a_vallentuna_tatort     4210220     4210220
28                                 4210320_ostra_ormsta     4210320     4210320
29                                4210330_vastra_ormsta     4210330     4210330
...                                                 ...         ...         ...
1056                        3580300_vidbo_fd_forsamling     3580300     3580300
1057                                    6210240_nicksta     6210240     6210240
1058                                    6210270_kallsmo     6210270     6210270
1059                         6210350_vastra_nynashamn_c     6210350     6210350
1060                          6210360_ostra_nynashamn_c     6210360     6210360
1061                          6210410_nynashamn_sv_esto     6210410     6210410
1062                                6210440_sandhamn_mm     6210440     6210440
1063                            6210490_trehorningen_mm     6210490     6210490
1064                                 6210520_vaktberget     6210520     6210520
1065                           6210570_rappsta_hacktorp     6210570     6210570
1066                                    6210640_hamnvik     6210640     6210640
1067                                    6220100_sorunda     6220100     6220100
1068                                 6220200_stora_vika     6220200     6220200
1069                                     6220300_grodby     6220300     6220300
1070                                       6220510_liso     6220510     6220510
1071                    6220520_sorunda_vastra_glesbygd     6220520     6220520
1072                     6220530_sorunda_ostra_glesbygd     6220530     6220530
1073                            6230000_toro_forsamling     6230000     6230000
1074                                       6240100_osmo     6240100     6240100
1075                                  6240510_jarflotta     6240510     6240510
1076                        6240530_osmo_ostra_glesbygd     6240530     6240530
1077                       6240540_osmo_vastra_glesbygd     6240540     6240540
1078                        6240550_osmo_norra_glesbygd     6240550     6240550
1079                                 3720720_filmstaden     3720720     3720720
1080  3710110_jarvafaltet_jarvastaden_norra_jarvasta...     3710110     3710110
1081        3810821_kymlinge_brotorp_stora_ursvik_norra     3810821     3810821
1082                 4010120_skallsta_vastra_raby_garde     4010120     4010120
1083                          1120132_norra_bantorget_v     1120132     1120132
1084                             1320330_lindhagensplan     1320330     1320330
1085                   3710150_bangarden_nationalarenan     3710150     3710150

[1086 rows x 3 columns]

In [12]:
entityKey.nunique()
# entityKey.shape[0]

basomrade     1086
BASKOD2000    1086
BASKOD2010    1086
dtype: int64

----

### Lägg till Baskod2000 till entities

In [13]:
# entityPath = os.path.join(ddfSrcPath, 'ddf--entities--basomrade.csv')
# entities = pd.read_csv(entityPath)
# entities = pd.merge(entities, entityKey.rename(columns={'BASKOD2010':'baskod2010', 'BASKOD2000':'baskod2000'})[['baskod2000', 'baskod2010']])
# entities.to_csv(entityPath, index=False)

----

# Upplåtelseform bostäder

## Kombinera `.csv` med MASTER

In [14]:
csv = pd.read_csv('../indata/Tabell2A_FB7bas.csv', encoding='latin1' , sep=';', decimal=',')
csv['year'] = pd.to_datetime('2017')
csv = csv.rename(columns={
    "Basomrade": "BASKOD2010",
    "Hyresrätt": "antal_hyres",
    "Bostadsrätt": "antal_bostadsr",
    "Äganderätt": "antal_aegender",
    "Uppgift_saknas": "Lght_Uppgift saknas",
    "TOTALT": "Lght total"
})

mas = master[['BASKOD2010','year', 'Lght_Hyresrätt', 'Lght_Bostadsrätt','Lght_Äganderätt','Lght_Uppgift saknas','Lght total']]
mas = mas.rename(columns = {
    "Lght_Hyresrätt": "antal_hyres",
    "Lght_Bostadsrätt": "antal_bostadsr",
    "Lght_Äganderätt": "antal_aegender"
})

In [15]:
csv.head(1)
csv['BASKOD2010'].nunique()

1285

In [16]:
mas.head(1)
mas['BASKOD2010'].nunique()

1476

In [17]:
concat = pd.concat([csv, mas], sort=False)
# concat.head(2)

In [18]:
concat['BASKOD2010'].nunique()

1476

## Summera efter år och Basområde2000 kod

In [19]:
# join the dataframe with the baskod2010 => baskod2000 key dataframe
merged = pd.merge(concat, baskodkey, on='BASKOD2010', how='left')
merged = pd.merge(merged, entityKey[['BASKOD2010', 'basomrade']], on='BASKOD2010', how='left')

In [20]:
merged[merged['basomrade'] == '2260230_sodra_husby']
# csv[csv['BASKOD2010'] == 2260230]

       BASKOD2010  antal_hyres  antal_bostadsr  antal_aegender  Lght_Uppgift saknas  Lght total       year  BASKOD2000            basomrade
25808     2260230          NaN             NaN             NaN                  NaN         NaN 2009-01-01         NaN  2260230_sodra_husby
25826     2260230          NaN             NaN             NaN                  NaN         NaN 2000-01-01         NaN  2260230_sodra_husby
25829     2260230          NaN             NaN             NaN                  NaN         NaN 2008-01-01         NaN  2260230_sodra_husby
25862     2260230          NaN             NaN             NaN                  NaN         NaN 2001-01-01         NaN  2260230_sodra_husby
25872     2260230          NaN             NaN             NaN                  NaN         NaN 2002-01-01         NaN  2260230_sodra_husby
25875     2260230          NaN             NaN             NaN                  NaN         NaN 2004-01-01         NaN  2260230_sodra_husby
25879     2260230          NaN             NaN             NaN                  NaN         NaN 2003-01-01         NaN  2260230_sodra_husby
25881     2260230          NaN             NaN             NaN                  NaN         NaN 2007-01-01         NaN  2260230_sodra_husby
25882     2260230          NaN             NaN             NaN                  NaN         NaN 2005-01-01         NaN  2260230_sodra_husby
25895     2260230          NaN             NaN             NaN                  NaN         NaN 2006-01-01         NaN  2260230_sodra_husby

In [21]:
merged.nunique()

BASKOD2010             1476
antal_hyres            1098
antal_bostadsr         1173
antal_aegender          955
Lght_Uppgift saknas      24
Lght total             2033
year                     18
BASKOD2000             1299
basomrade              1086
dtype: int64

In [22]:
# sum values by year and baskod2000
subset = merged[['year','BASKOD2000', 'basomrade', 'antal_hyres', 'antal_bostadsr', 'antal_aegender', 'Lght total']]
# summed = subset.groupby(['year','BASKOD2000']).sum().reset_index()
summed = pd.DataFrame(subset.groupby(['year','basomrade']).sum()).reset_index()

In [23]:
summed.sort_values('antal_aegender', ascending=False).head(2)

            year        basomrade  BASKOD2000  antal_hyres  antal_bostadsr  antal_aegender  Lght total
19161 2017-01-01  6410100_nykvarn  12820200.0        955.0           252.0          1686.0      2893.0
18123 2016-01-01  6410100_nykvarn   6410100.0        918.0           252.0          1667.0      2837.0

In [24]:
# summed.groupby('year')['Lght total'].sum()

In [25]:
# summed = pd.merge(summed, master[['BASKOD2010', 'name']])
# summed['name'] = summed['BASKOD2000'].map(str) + '_' + summed['name']
# summed = summed.rename(columns={'name': 'basomrade'})
# summed = pd.merge(summed, entityKey, on='BASKOD2000')
summed['year'] = summed['year'].apply(lambda t: t.year)
# entityKey

In [26]:
# summed[summed['year'] == pd.to_datetime('2017')]
# summed[summed['year'] == 2017]
# summed.dtypes

In [27]:
summed.head(1)

   year           basomrade  BASKOD2000  antal_hyres  antal_bostadsr  antal_aegender  Lght total
0  2000  1010120_skeppsbron   1010120.0          0.0             0.0             0.0         0.0

In [28]:
summed.shape[0]

19164

In [29]:
# nuniq = summed['basomrade'].nunique()
# nuniqY = summed['year'].nunique()
# print(nuniq * nuniqY)
# #print(summed['basomrade'].nunique())
# for i in summed['basomrade'].unique(): print(i)

summed[['year', 'Lght total']].groupby('year').sum()

      Lght total
year
2000         0.0
2001         0.0
2002         0.0
2003         0.0
2004         0.0
2005         0.0
2006         0.0
2007         0.0
2008         0.0
2009         0.0
2010         0.0
2011         0.0
2012    888684.0
2013    895205.0
2014    902626.0
2015    913391.0
2016    929243.0
2017    965969.0

## Räkna andelar och exportera

#### Andel hyresrätter

In [30]:
summed['andel_hyres'] = summed['antal_hyres'] / summed['Lght total']
summed.shape[0]

19164

In [31]:
summed[['basomrade', 'year', 'andel_hyres']].to_csv(os.path.join(ddfSrcPath, 'ddf--datapoints--andel_hyres--by--basomrade--year.csv'), index=False)

#### Andel bostadsrätter

In [32]:
summed['andel_bostadsr'] = summed['antal_bostadsr'] / summed['Lght total']
summed.shape[0]

19164

In [33]:
summed[['basomrade', 'year', 'andel_bostadsr']].to_csv(os.path.join(ddfSrcPath, 'ddf--datapoints--andel_bostadsr--by--basomrade--year.csv'), index=False)

#### Andel äganderätter

In [34]:
summed['andel_aegender'] = summed['antal_aegender'] / summed['Lght total']

In [35]:
summed[['basomrade', 'year', 'andel_aegender']].to_csv(os.path.join(ddfSrcPath, 'ddf--datapoints--andel_aegender--by--basomrade--year.csv'), index=False)

----