In [144]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (15, 5)

# Bostäder

Greger har slagit ihop tidigare data (2012-2016) med data från 2017 och räknat om andelar så att de blir rätt.

In [145]:
df = pd.read_csv('./data/Bostader_2012-2017.csv', sep=';', decimal=',')

In [146]:
df.dtypes

område                       object
tid                           int64
Oråde+tid                    object
Basområde                     int64
Lght_Hyresrätt                int64
Lght_Bostadsrätt              int64
Lght_Äganderätt               int64
Lght_Uppgift saknas           int64
Lght total                    int64
Lght_Andel_Hyresrätter      float64
Lght_Andel_Bostadsrätter    float64
Lght_Andel_Äganderätter     float64
Lght_Andel_Uppgift Sanas    float64
dtype: object

In [148]:
df[df['område'] == "1220130 Östermalmstorg"]

,område,tid,Oråde+tid,Basområde,Lght_Hyresrätt,Lght_Bostadsrätt,Lght_Äganderätt,Lght_Uppgift saknas,Lght total,Lght_Andel_Hyresrätter,Lght_Andel_Bostadsrätter,Lght_Andel_Äganderätter,Lght_Andel_Uppgift Sanas
20058,1220130 Östermalmstorg,2007,1220130 Östermalmstorg2007,1220130,0,0,0,0,0,0.000000,0.000000,0.0,0.0
20194,1220130 Östermalmstorg,2004,1220130 Östermalmstorg2004,1220130,0,0,0,0,0,0.000000,0.000000,0.0,0.0
20213,1220130 Östermalmstorg,2008,1220130 Östermalmstorg2008,1220130,0,0,0,0,0,0.000000,0.000000,0.0,0.0
20226,1220130 Östermalmstorg,2000,1220130 Östermalmstorg2000,1220130,0,0,0,0,0,0.000000,0.000000,0.0,0.0
20256,1220130 Östermalmstorg,2006,1220130 Östermalmstorg2006,1220130,0,0,0,0,0,0.000000,0.000000,0.0,0.0
20262,1220130 Östermalmstorg,2003,1220130 Östermalmstorg2003,1220130,0,0,0,0,0,0.000000,0.000000,0.0,0.0
20273,1220130 Östermalmstorg,2002,1220130 Östermalmstorg2002,1220130,0,0,0,0,0,0.000000,0.000000,0.0,0.0
20281,1220130 Östermalmstorg,2001,1220130 Östermalmstorg2001,1220130,0,0,0,0,0,0.000000,0.000000,0.0,0.0
20423,1220130 Östermalmstorg,2009,1220130 Östermalmstorg2009,1220130,0,0,0,0,0,0.000000,0.000000,0.0,0.0
20433,1220130 Östermalmstorg,2005,1220130 Östermalmstorg2005,1220130,0,0,0,0,0,0.000000,0.000000,0.0,0.0
20439,1220130 Östermalmstorg,2011,1220130 Östermalmstorg2011,1220130,0,0,0,0,0,0.000000,0.000000,0.0,0.0
20479,1220130 Östermalmstorg,2010,1220130 Östermalmstorg2010,1220130,0,0,0,0,0,0.000000,0.000000,0.0,0.0
20480,1220130 Östermalmstorg,2012,1220130 Östermalmstorg2012,1220130,655,1129,0,0,1784,0.367152,0.632848,0.0,0.0
20641,1220130 Östermalmstorg,2013,1220130 Östermalmstorg2013,1220130,614,1172,0,0,1786,0.343785,0.656215,0.0,0.0
20727,1220130 Östermalmstorg,2014,1220130 Östermalmstorg2014,1220130,615,1177,0,0,1792,0.343192,0.656808,0.0,0.0
20816,1220130 Östermalmstorg,2015,1220130 Östermalmstorg2015,1220130,626,1181,0,0,1807,0.346431,0.653569,0.0,0.0
20886,1220130 Östermalmstorg,2016,1220130 Östermalmstorg2016,1220130,626,1187,0,0,1813,0.345284,0.654716,0.0,0.0
21048,1220130 Östermalmstorg,2017,1220130 Östermalmstorg2017,1220130,626,1187,0,0,1813,0.345284,0.654716,0.0,0.0

In [149]:
df = df.rename(columns={
    "tid": "year",
    "område": "basomrade",
    "Lght_Andel_Hyresrätter": "andel_hyres",
    "Lght_Andel_Bostadsrätter": "andel_bostadsr",
    "Lght_Andel_Äganderätter": "andel_aegender"
})

In [150]:
# Format basomrade column
df['basomrade'] = df['basomrade'].str.lower()
df['basomrade'] = df['basomrade'].str.replace(' ', '_')
df['basomrade'] = df['basomrade'].str.replace('å', 'a')
df['basomrade'] = df['basomrade'].str.replace('ä', 'a')
df['basomrade'] = df['basomrade'].str.replace('ö', 'o')

In [160]:
df[df['basomrade'] == "3710540_vastra_skogen"]

,basomrade,year,Oråde+tid,Basområde,Lght_Hyresrätt,Lght_Bostadsrätt,Lght_Äganderätt,Lght_Uppgift saknas,Lght total,andel_hyres,andel_bostadsr,andel_aegender,Lght_Andel_Uppgift Sanas
18195,3710540_vastra_skogen,2015,3710540 Västra skogen2015,3710540,0,0,0,0,0,NaN,NaN,NaN,0.0
18208,3710540_vastra_skogen,2014,3710540 Västra skogen2014,3710540,0,0,0,0,0,NaN,NaN,NaN,0.0
18337,3710540_vastra_skogen,2016,3710540 Västra skogen2016,3710540,0,0,0,0,0,NaN,NaN,NaN,0.0
18424,3710540_vastra_skogen,2013,3710540 Västra skogen2013,3710540,0,0,0,0,0,NaN,NaN,NaN,0.0
18427,3710540_vastra_skogen,2010,3710540 Västra skogen2010,3710540,0,0,0,0,0,NaN,NaN,NaN,0.0
18448,3710540_vastra_skogen,2017,3710540 Västra skogen2017,3710540,0,0,0,0,0,NaN,NaN,NaN,NaN
18694,3710540_vastra_skogen,2011,3710540 Västra skogen2011,3710540,0,0,0,0,0,NaN,NaN,NaN,0.0
18781,3710540_vastra_skogen,2012,3710540 Västra skogen2012,3710540,0,0,0,0,0,NaN,NaN,NaN,0.0

## Rensa bort 0:or för områden utan bostäder

Om `Lght total` är noll så sätter vi andelarna till `NaN`

In [152]:
df.loc[df['Lght total'] == 0, ['andel_hyres','andel_bostadsr', 'andel_aegender']] = np.nan

In [153]:
df

,basomrade,year,Oråde+tid,Basområde,Lght_Hyresrätt,Lght_Bostadsrätt,Lght_Äganderätt,Lght_Uppgift saknas,Lght total,andel_hyres,andel_bostadsr,andel_aegender,Lght_Andel_Uppgift Sanas
0,1010202_centralstationen_s,2000,1010202 Centralstationen S2000,1010202,0,0,0,0,0,NaN,NaN,NaN,0.0
1,1010202_centralstationen_s,2001,1010202 Centralstationen S2001,1010202,0,0,0,0,0,NaN,NaN,NaN,0.0
2,1010202_centralstationen_s,2002,1010202 Centralstationen S2002,1010202,0,0,0,0,0,NaN,NaN,NaN,0.0
3,1010202_centralstationen_s,2003,1010202 Centralstationen S2003,1010202,0,0,0,0,0,NaN,NaN,NaN,0.0
4,1010202_centralstationen_s,2004,1010202 Centralstationen S2004,1010202,0,0,0,0,0,NaN,NaN,NaN,0.0
5,1010202_centralstationen_s,2005,1010202 Centralstationen S2005,1010202,0,0,0,0,0,NaN,NaN,NaN,0.0
6,1010202_centralstationen_s,2006,1010202 Centralstationen S2006,1010202,0,0,0,0,0,NaN,NaN,NaN,0.0
7,1010202_centralstationen_s,2007,1010202 Centralstationen S2007,1010202,0,0,0,0,0,NaN,NaN,NaN,0.0
8,1010202_centralstationen_s,2008,1010202 Centralstationen S2008,1010202,0,0,0,0,0,NaN,NaN,NaN,0.0
9,1010202_centralstationen_s,2009,1010202 Centralstationen S2009,1010202,0,0,0,0,0,NaN,NaN,NaN,0.0
10,1010202_centralstationen_s,2010,1010202 Centralstationen S2010,1010202,0,0,0,0,0,NaN,NaN,NaN,0.0
11,1010202_centralstationen_s,2011,1010202 Centralstationen S2011,1010202,0,0,0,0,0,NaN,NaN,NaN,0.0
12,1010202_centralstationen_s,2012,1010202 Centralstationen S2012,1010202,0,0,0,0,0,NaN,NaN,NaN,0.0
13,1010202_centralstationen_s,2013,1010202 Centralstationen S2013,1010202,0,0,0,0,0,NaN,NaN,NaN,0.0
14,1010202_centralstationen_s,2014,1010202 Centralstationen S2014,1010202,0,0,0,0,0,NaN,NaN,NaN,0.0
15,1010202_centralstationen_s,2015,1010202 Centralstationen S2015,1010202,0,0,0,0,0,NaN,NaN,NaN,0.0
16,1010202_centralstationen_s,2016,1010202 Centralstationen S2016,1010202,0,0,0,0,0,NaN,NaN,NaN,0.0
17,1010202_centralstationen_s,2017,1010202 Centralstationen S2017,1010202,0,0,0,0,0,NaN,NaN,NaN,NaN
18,1010260_hotorgscity,2000,1010260 Hötorgscity2000,1010260,0,0,0,0,0,NaN,NaN,NaN,0.0
19,1010260_hotorgscity,2001,1010260 Hötorgscity2001,1010260,0,0,0,0,0,NaN,NaN,NaN,0.0
20,1010260_hotorgscity,2002,1010260 Hötorgscity2002,1010260,0,0,0,0,0,NaN,NaN,NaN,0.0
21,1010260_hotorgscity,2003,1010260 Hötorgscity2003,1010260,0,0,0,0,0,NaN,NaN,NaN,0.0
22,1010260_hotorgscity,2004,1010260 Hötorgscity2004,1010260,0,0,0,0,0,NaN,NaN,NaN,0.0
23,1010260_hotorgscity,2005,1010260 Hötorgscity2005,1010260,0,0,0,0,0,NaN,NaN,NaN,0.0
24,1010260_hotorgscity,2006,1010260 Hötorgscity2006,1010260,0,0,0,0,0,NaN,NaN,NaN,0.0
25,1010260_hotorgscity,2007,1010260 Hötorgscity2007,1010260,0,0,0,0,0,NaN,NaN,NaN,0.0
26,1010260_hotorgscity,2008,1010260 Hötorgscity2008,1010260,0,0,0,0,0,NaN,NaN,NaN,0.0
27,1010260_hotorgscity,2002,1010260 Hötorgscity2002,1010260,0,0,0,0,0,NaN,NaN,NaN,0.0
28,1010280_sergels_torg,2000,1010280 Sergels Torg2000,1010280,0,0,0,0,0,NaN,NaN,NaN,0.0
29,1010280_sergels_torg,2001,1010280 Sergels Torg2001,1010280,0,0,0,0,0,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24610,2260230_sodra_husby,2006,2260230 Södra Husby2006,2260230,0,0,0,0,0,NaN,NaN,NaN,0.0
24611,2240820_norra_tensta,2006,2240820 Norra Tensta2006,2240820,0,0,0,0,0,NaN,NaN,NaN,0.0
24612,2240820_norra_tensta,2005,2240820 Norra Tensta2005,2240820,0,0,0,0,0,NaN,NaN,NaN,0.0
24613,2240520_norra_rinkeby,2006,2240520 Norra Rinkeby2006,2240520,0,0,0,0,0,NaN,NaN,NaN,0.0
24614,2240520_norra_rinkeby,2007,2240520 Norra Rinkeby2007,2240520,0,0,0,0,0,NaN,NaN,NaN,0.0
24615,2150402_hammarbyhojden,2016,2150402 Hammarbyhöjden2016,2150402,2071,3192,0,0,5263,0.393502,0.606498,0.000000,0.0
24616,2210300_blackeberg,2016,2210300 Blackeberg2016,2210300,2973,1864,33,0,4870,0.610472,0.382752,0.006776,0.0
24617,5211330_brandbergen_flerbost-hus,2016,5211330 Brandbergen flerbost-hus2016,5211330,2160,1768,0,0,3928,0.549898,0.450102,0.000000,0.0
24618,2150402_hammarbyhojden,2017,2150402 Hammarbyhöjden2017,2150402,2071,3248,0,0,5319,0.389359,0.610641,0.000000,0.0
24619,2170120_bredangs_allé,2016,2170120 Bredängs Allé2016,2170120,3446,461,0,0,3907,0.882007,0.117993,0.000000,0.0
24620,2240520_norra_rinkeby,2008,2240520 Norra Rinkeby2008,2240520,0,0,0,0,0,NaN,NaN,NaN,0.0
24621,2240820_norra_tensta,2009,2240820 Norra Tensta2009,2240820,0,0,0,0,0,NaN,NaN,NaN,0.0
24622,2210300_blackeberg,2017,2210300 Blackeberg2017,2210300,3013,1864,33,0,4910,0.613646,0.379633,0.006721,0.0
24623,2240820_norra_tensta,2004,2240820 Norra Tensta2004,2240820,0,0,0,0,0,NaN,NaN,NaN,0.0
24624,5211330_brandbergen_flerbost-hus,2017,5211330 Brandbergen flerbost-hus2017,5211330,2160,1768,0,0,3928,0.549898,0.450102,0.000000,0.0
24625,2240520_norra_rinkeby,2004,2240520 Norra Rinkeby2004,2240520,0,0,0,0,0,NaN,NaN,NaN,0.0
24626,2240520_norra_rinkeby,2009,2240520 Norra Rinkeby2009,2240520,0,0,0,0,0,NaN,NaN,NaN,0.0
24627,2170120_bredangs_allé,2017,2170120 Bredängs Allé2017,2170120,3446,571,0,0,4017,0.857854,0.142146,0.000000,0.0
24628,2120100_fruangen,2014,2120100 Fruängen2014,2120100,1882,3221,145,0,5248,0.358613,0.613758,0.027630,0.0
24629,2240820_norra_tensta,2003,2240820 Norra Tensta2003,2240820,0,0,0,0,0,NaN,NaN,NaN,0.0
24630,2240820_norra_tensta,2000,2240820 Norra Tensta2000,2240820,0,0,0,0,0,NaN,NaN,NaN,0.0
24631,2240520_norra_rinkeby,2000,2240520 Norra Rinkeby2000,2240520,0,0,0,0,0,NaN,NaN,NaN,0.0
24632,2240520_norra_rinkeby,2003,2240520 Norra Rinkeby2003,2240520,0,0,0,0,0,NaN,NaN,NaN,0.0
24633,2240820_norra_tensta,2001,2240820 Norra Tensta2001,2240820,0,0,0,0,0,NaN,NaN,NaN,0.0
24634,2240520_norra_rinkeby,2001,2240520 Norra Rinkeby2001,2240520,0,0,0,0,0,NaN,NaN,NaN,0.0
24635,2240820_norra_tensta,2002,2240820 Norra Tensta2002,2240820,0,0,0,0,0,NaN,NaN,NaN,0.0
24636,2240520_norra_rinkeby,2002,2240520 Norra Rinkeby2002,2240520,0,0,0,0,0,NaN,NaN,NaN,0.0
24637,2120100_fruangen,2015,2120100 Fruängen2015,2120100,1874,3299,147,0,5320,0.352256,0.620113,0.027632,0.0
24638,2120100_fruangen,2016,2120100 Fruängen2016,2120100,1904,3305,145,0,5354,0.355622,0.617295,0.027083,0.0
24639,2120100_fruangen,2017,2120100 Fruängen2017,2120100,1904,3305,145,0,5354,0.355622,0.617295,0.027083,0.0

## Exportera resp. indikator

### Andel hyresrätter

In [161]:
andel_hyres = df[['basomrade','year','andel_hyres']]
# andel_hyres

In [162]:
andel_hyres.to_csv('./data/ddf--datapoints--andel_hyres--by--basomrade--year.csv', index=False)

### Andel bostadsrätter

In [163]:
andel_bostadsr = df[['basomrade','year','andel_bostadsr']]
# andel_bostadsr

In [164]:
andel_bostadsr.to_csv('./data/ddf--datapoints--andel_bostadsr--by--basomrade--year.csv', index=False)

### Andel äganderätter

In [165]:
andel_aegender = df[['basomrade','year','andel_aegender']]
# andel_aegender

In [159]:
andel_aegender.to_csv('./data/ddf--datapoints--andel_aegender--by--basomrade--year.csv', index=False)

# Indikator

ldkfjlkdfjlkf

In [ ]:
# dlkfjdflk
a = 2